.navigation-button {
    -fx-padding: 10;
    -fx-background-color: #f0f0f0;
    -fx-border: none;
    -fx-max-width: Infinity;
}

.navigation-button:hover {
    -fx-background-color: #e0e0e0;
    -fx-cursor: hand;
}

.navigation-button.clicked {
    -fx-background-color: #d0d0d0;
    -fx-font-weight: bold;
}