.navigation-button {
    -fx-padding: 10;
    -fx-background-color: #f0f0f0;
    -fx-border-width: 2;
    -fx-max-width: Infinity;
}

.navigation-button:hover {
    -fx-background-color: #e0e0e0;
    -fx-cursor: hand;
}

.navigation-button.clicked {
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-border-color: #007bff;
    -fx-text-fill: #007bff;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 4;
}